body {
		background-color: #061324;
		margin:0em;
}

/* Mobile site section*/

/* Mobile Grid Layout */

.grid-container {
  display: grid;
	overflow-x: hidden !important;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.5fr 0.45fr 0.6fr 0.9fr 0.8fr 0.3fr;
  gap: 1px 1px;
  grid-template-areas: "header" "title" "art_main" "links" "art_sub" "about" "contact";
}

.header { grid-area: header; }

.title { grid-area: title; }

.art_main { grid-area: art_main; }

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: "external external external" "site site site";
  grid-area: links;
}

.site { grid-area: site; }

.external { grid-area: external; }

.art_sub { grid-area: art_sub; }

.about { grid-area: about; }

.contact { grid-area: contact; }

/* mobile style */

.header{
	display: block;
  margin: 0 5% 0 5%;
}
.header a{
	margin-top: 0.8em;
	text-decoration: none;
	color: white;
	font-size: 4vw;
	padding-left: 5%;
	float: right;
	text-align: left;
	font-family: 'Source Code Pro', monospace;
}
.desktop_logo{display: none;}
.mobile_logo{
	width: 15%;
}
.title{
	margin: 0 5% 0 5%;
}
.br{
	display: none;
}
.title h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 8vw;
	color: #fff;
	text-align: center;
}
.title p{
	font-family: 'Source Code Pro', monospace;
	font-size: 4.1vw;
	color: #fff;
	text-align: center;
}
.emphasis{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #F28927;
}
.art_main img{
	display: block;
	width: 250%;
	margin-left: -62%;
}
.links a{
  display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	margin-bottom: 2em;
	padding: 0.8em 0em 0.8em 0em;
  text-decoration: none;
  color: white;
  font-size: 4vw;
  width: 90%;
  text-align: center;
  border-style: solid;
  border-width: 0.1em;
  font-family: 'Source Code Pro', monospace;
}
.links a:hover {
  background-color: #F28927;
}
.art_sub {
	display: block;
	position: relative;
	margin-right: 5%;
	margin-left: 5%;
}
.parent_mobile{
	width: 65%;
	float: right;
}
.parent_desktop{
	display: none;
}
.child_1{
	position: absolute;
	width: 60%;
	bottom: 2em;
	left: 0;
}
.child_2{
	display: none;
}
.about h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: left;
	font-size: 8.34vw;
	color: #fff;
	margin-left: 5%;
	margin-right: 5%;
}
.about p{
	font-family: 'Source Code Pro', monospace;
	font-size: 4.05vw;
	color: #fff;
	margin-left: 5%;
	margin-right: 5%;
	text-align: left;
	text-justify: inter-word;
}
.contact p{
	font-family: 'Source Code Pro', monospace;
	font-size: 4vw;
	color: #fff;
	text-align: center;
}
.contact img{
	width: 90%;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.email {
	color: #F28927;
}

/* Desktop style section*/

@media screen and (min-width: 650px) {

/* Desktop Grid */

	.grid-container {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 0.2fr 0.6fr 0.6fr 0.4fr 1fr 0.3fr;
	  gap: 1px 1px;
	  grid-template-areas: "header header" "title title" "art_main art_main" "links links" "about art_sub" "contact contact";
	}

	.header { grid-area: header; }

	.title { grid-area: title; }

	.art_main { grid-area: art_main; }

	.links {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr;
	  gap: 1px 1px;
	  grid-template-areas: "external external external" "site site site";
	  grid-area: links;
	}

	.external { grid-area: external; }

	.site { grid-area: site; }

	.about { grid-area: about; }

	.art_sub { grid-area: art_sub; }

	.contact { grid-area: contact; }

/* Desktop style */

	.header {
		display: block;
		margin-left: 2.5%;
		margin-right: 2.5%
	}
	.header a{
		margin-top: 0.7em;
	  text-decoration: none;
	  color: white;
	  font-size: 1.4vw;
	  padding-left: 5%;
		float: right;
	  text-align: left;
	  font-family: 'Source Code Pro', monospace;
	}
	.mobile_logo{display: none;}
	.desktop_logo{
		display: block;
		float: left;
		width: 30%;
		margin-left: 0;
		margin-right: 0;
	}
	.title h1 {
		text-align: center;
		margin: 0 auto 0 auto;
		font-size: 4.7vw;
	}
	.title p{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1%;
		font-size: 1.4vw;
	}
	.art_main img{
		width: 100%;
		margin: 0;
	}
	.links{
		text-align: center;
		padding-bottom: 3em;
	}
	.external a{
		width: 18%;
		display: inline-block;
		font-size: 1.5vw;
		padding: 0.5em 0em 0.5em 0em;
		margin: 0 2% 0 2%;
	}
	.site a{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40.5%;
		font-size: 1.5vw;
		padding: 0.5em 0em 0.5em 0em;
	}
	.art_sub {
		display: block;
		position: relative;
		margin-right: 5%;
	}
	.parent_mobile{display: none;}
	.parent_desktop{
		display: block;
		margin: auto;
		width: 65%;
		position: relative;
		top: 50%;
	  transform: translateY(-50%);
	}
	.child_1{
		position: absolute;
		width: 28%;
		bottom: 2em;
		left: 0em;
		margin: 0;
	}
	.child_2{
		position: absolute;
		width: 28%;
		top: 2em;
		right: 0em;
		display: block;
	}
	.about h1{
		font-size: 3.5vw;
		margin-top: 0em;
	}
	.about p{
		font-size: 1.5vw
	}
	.contact{
		margin-left: 2.5%;
		padding-top: 2em;
	}
	.contact p{
		font-family: 'Source Code Pro', monospace;
		font-size: 1.5vw;
		color: #fff;
		text-align: left;
	}
	.contact img{
		display: none;
	}
}
